<div class="container">
    <form #itemForm="ngForm" (ngSubmit)="handleSubmit($event)">
      <input type="hidden" name="id" [(ngModel)]="item.id" />
      <div class="form-group mb-3">
        <label for="name">Name: </label>
        <input type="text" class="form-control" name="name" id="name" [(ngModel)]="item.name" required />
      </div>
      <div class="form-group mb-3">
        <label for="desc">Description: </label>
        <input type="text" class="form-control" name="desc" id="desc" [(ngModel)]="item.desc" required />
      </div>

      <button type="" [disabled]="!itemForm.form.valid">Submit</button>
    </form></div>
