

  <p-table [value]="newInventoryItems" styleClass="p-datatable-striped p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Quantity</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-inventoryItem>
    <tr>
      <!--<td>{{ warehouse.id }}</td>-->
      <td><a routerLink="{{inventoryItem.id}}/edit">{{ inventoryItem.id }}</a></td>
      <td>{{ inventoryItem.quantity}}</td>
    </tr>
  </ng-template>
</p-table>
