


<p-table [value]="newWarehouses" styleClass="p-datatable-striped p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>
        <table><tr>
          <td align="right"><i class="pi pi-plus-circle" style="font-size: 2rem" routerLink="new"></i></td>
          <td>Location</td></tr>
        </table></th>
      <th>Item Limit</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-warehouse>
    <tr>
      <!--<td>{{ warehouse.id }}</td>-->
      <td><a routerLink="{{warehouse.id}}/edit">{{ warehouse.location }}</a></td>
      <td>{{ warehouse.itemLimit}}</td>
    </tr>
  </ng-template>
</p-table>

