<form [formGroup]="warehouseForm">
    <input type="hidden" value="0" formControlName="id" />
    <div class="form-group mb-3">
      <label for="location">Location: </label>
      <input type="text" class="form-control" formControlName="location" pInputText id="location" placeholder="Location" />
    </div>
    <div class="form-group mb-3">
      <label for="itemLimit">Item Limit: </label>
      <input type="number" class="form-control" formControlName="itemLimit" pInputText id="itemLimit" placeholder="Item Limit" />
    </div>

    <button type="submit" [disabled]="!warehouseForm.valid" (click)="handleSubmit($event)">Submit</button>
</form>

<div *ngIf="submitted">Your form was submitted.</div>