<div class="example-box">
    <form #warehouseForm="ngForm" (ngSubmit)="handleSubmit($event)">
          <div>
            <label for="location">Location: </label>
            <input type="text" class="form-control" name="location" id="location" [(ngModel)]="warehouse.location" required />
          </div>

          <div>
            <label for="itemLimit">Item Limit: </label>
            <input type="number" class="form-control" name="itemLimit" id="itemLimit" [(ngModel)]="warehouse.itemLimit" required />
          </div>

        <button type="" [disabled]="!warehouseForm.form.valid">Update</button>

      <input type="hidden" name="id" [(ngModel)]="warehouse.id" />
      
    </form></div>
    
    <div>
    <app-inventory-by-warehouse [currentWarehouse]="currentWarehouse"></app-inventory-by-warehouse>
</div>
